h5{
    text-align: center;
}
.monitor{
    text-align: center;
}
.containerProd{
    display: flex;
    justify-content: center;
}
.ratingStars{
    text-align: center;
}
.socialMedia{
text-align: center;
}