* {
    font-family: 'Lexend', sans-serif;
}

.containerSectionCard {
    background-color: blueviolet;
}

.containerCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-width: 0px !important;
    border-color: none !important;
    border-radius: 0rem !important;
    /*border-color: none;*/
    background-color: yellow;
}

.cardBody {
    border-color: white;
}

.colorButton {
    background-color: #008037 !important;
    border-color: #008037 !important;
}

/*Estos son los botones del slider de la página principal*/
.containerCarousel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.buttonPrev {
    border-bottom: #008037 !important;
}

.carousel-control-next {
    color: #008037
}

.containerSlide {
    background-color: blue;
}